*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Source Sans Pro", sans-serif;
}

header{
    width: 100%;
    background-color: royalblue;
    color: white;
    padding: 1rem;
    margin-bottom: 2rem;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section{
    width: 80vw;
}

.genre {
    grid-area: genre;
}

.year {
    grid-area: year;
}

.language {
    grid-area: language;
}

.rating {
    grid-area: rating;
}

.selection-fields{
    display: grid;
        grid-template-areas:
        'genre year language'
        'rating rating rating'
        ;
    gap: 1rem;
    padding: 10px;
    margin-bottom: 2rem;
}

section.selection-fields div select{
    width: 100%;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 0.2rem;
    color: black;
    background-color: transparent;
}

section.selection-fields div h4{
    text-transform: uppercase;
    margin-bottom: 0.2rem;
    color: black;
}

section.results table{
    width: 100%;
    border-top: 1px solid black;
    border-collapse: collapse;
}

section.results table th{
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 5px;
}

section.results table tr{
    border-bottom: 1px solid black;
}

section.results table th,td{
    text-align: center;
}

.movieCellData{
    display: flex;
}

.movieCellDetail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
}

.movieCellDetail h3{
    color: rgba(1, 48, 255, 0.61);
    text-align: left;
}

.loadingDiv{
    width: 100%;
    display: flex;
    justify-content: center;
}

.loadingDiv img{
    width: 100px;
    height:100px;
}

@media only screen and (max-width:720px){

    main section{
        width: 100vw;
    }

    section.results table{
        width: 100%;
    }

    .selection-fields{
        display: grid;
        grid-template-areas:
        'genre '
        'year '
        'language '
        'rating '
        ;
        gap: 10px;
        padding: 10px;
        }
}